<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <appSettings>
	<add key="DirectorioSalida" value="C:\Users\Ricardo\Desktop\Prueba 15-07\Salida"/>
	<add key="RutaUtillaje" value="C:\Users\Ricardo\Desktop\Prueba 15-07\Utillaje"/>
	<add key="RutaTemporal" value="C:\Users\Ricardo\Desktop\Prueba 15-07\Salida"/>
    <add key="ExcludeTemplateFilePath" value="C:\Users\roger\OneDrive\Escritorio\JUNTA PLANA PASO ARMARIO ELECTRICO PET-00.par"/>
	<add key="PrintFileLocation" value="C:\Users\Ricardo\Desktop\Imprimir Planos.xltm" />
 </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.1.0" newVersion="2.17.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>