<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SExtensions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SExtensions.Properties.Settings>
            <setting name="DirectorioSalida" serializeAs="String">
                <value>C:\Users\Ricardo\Desktop\Prueba EXCEL\Salida</value>
            </setting>
            <setting name="RutaUtillaje" serializeAs="String">
                <value>C:\Users\Ricardo\Desktop\Prueba Extension</value>
            </setting>
            <setting name="RutaTemporal" serializeAs="String">
                <value>C:\Users\Ricardo\Desktop\UtillajeTemporal</value>
            </setting>
        </SExtensions.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.1.0" newVersion="2.17.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>